nav {
	position: absolute;
}

nav > ul {
	float: right;
}

nav > ul > li {
	display: inline-block;
	padding: 1em;
}


.slider-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}